@font-face {
	font-family: "HankenGrotesk";
	font-style: normal;
	font-weight: 400;
	src: local("HankenGrotesk"), local("HankenGrotesk"),
		url("../fonts/HankenGrotesk.ttf") format("truetype");
	font-display: swap;
}

:root {
	--palet-a: #DFEAFF;
	--palet-b: #161C28;
	--palet-c: #FFFFFF;
	--palet-d: #ECECEC;
	--palet-e: #F2CA2C;
}

a {
	text-decoration: none;
	font-style: none;
}


body{
	font-family: HankenGrotesk;
}
.h-100{
	height: 100vh;
}
.overflow-auto{
	overflow: auto;
}
.todos *{
	border: 1px solid black!important;
}

form > div {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.input-invalid{
	background: #fff url("../img/input-error.svg") no-repeat 98% center;
	background-size: 20px 20px;
	background-position: 98%;
}
.input-valid {
	background: #fff url("../img/input-correct.svg") no-repeat 98% center;
	background-size: 24px 24px;
	background-position: 98%;
}

.message-invalid{
	color: #E5554F;
	margin-top: 3px;
}

input, select, textarea, button{
	outline: none;
	border-radius: 5px;
}

.login-container{
	background-color: var(--palet-b);
	color: var(--palet-c);
}

.login-container input{
	background-color: transparent;
	border: none;
	border-bottom: 2px solid #FFFFFF;
	color: var(--palet-c);
	padding: 0.5rem 0;
}

.login-container button{
	border: 2px solid var(--palet-c);
	background-color: transparent;
	color: var(--palet-c);
	transition: all 0.2s ease;
}
.login-container button:hover{
	border: 2px solid var(--palet-a);
	background-color: var(--palet-a);
	color: var(--palet-b);
}

.login-links a{
	color: var(--palet-c);
}

.login-links a:hover{
	text-decoration: underline;
}

.portada-login{
	overflow: hidden;
}

.portada-login img{
	object-fit: cover;
	object-position: center;
	height: 100%;
}

.layout-container{
}

.sidebar-container{
	background-color: var(--palet-b);
	color: var(--palet-c);
	
}
.sidebar-menus a{
	color: var(--palet-c);
	transition: color 0.3s ease;
}
.sidebar-menus a:hover{
	color: var(--palet-e);
}
div[data-active="true"] > div.sub-menu {
    max-height: 500px;
    padding-left: 10px;
}
div[data-active="true"] > div > .arrow {
    transform: rotate(90deg);
}
div[data-active="true"] > div > .arrow_profile {
    transform: rotate(-90deg);
}

.arrow, .arrow_profile {
	transition: transform 0.3s ease;
	cursor: pointer;
}


.sub-menu {
    max-height: 0;
    overflow: hidden;
    width: 100%;
    transition: max-height 0.3s ease-in-out, padding 0.3s ease-in-out;
}

.active_menu{
	color: var(--palet-e)!important;
	font-weight: bold;
}
.sidebar_profile{
	position: relative;
}
.profile_picture {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: var(--palet-d); /* Reemplaza esto con la imagen de perfil */
	overflow: hidden;
}

.dropdown_menu {
    position: absolute;
    bottom: 100%;
	right: 10px;
	display: flex;
	flex-direction: column;
	background-color: var(--palet-c);
	border: 1px solid var(--palet-d);
	border-radius: 5px;
}
.dropdown_menu a{
	color: var(--palet-b);
	padding: 0.5rem;
	transition: all 0.2s ease;
}
.dropdown_menu a:hover{
	background-color: var(--palet-d);
}
.dropdown_menu hr{
	border: 1px solid var(--palet-d);
}


.ReactModalPortal > div{
    opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
    align-items: center;
    display: flex;
    justify-content: center;
    transition: opacity .2s ease-in-out;
    z-index: 999;
}

.modal-fondo {
    background-color: rgba(0, 0, 0, 0.3);
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
    opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
    opacity: 0;
}

.modal {
    background: white;
    border-radius: 5px;
    color: rgb(51, 51, 51);
    display: inline;
    max-height: 100v;
    max-width: 500px;
    outline: none;
    padding: 10px;
}


.rbc-toolbar-label,
.rbc-header,
.rbc-header button,
.rbc-agenda-date-cell{
  text-transform: capitalize;
}


button{
	transition: all 0.2s ease-in-out;
}
.button-add{
	background-color: #6a994e;
	color: var(--palet-d);
	border: 1px solid #6a994e;
}
.button-add:hover{
	background-color: #588157;
	border: 1px solid #588157;
}
.button-delete{
	background-color: #ef233c;
	color: var(--palet-d);
	border: 1px solid #ef233c;
}
.button-delete:hover{
	background-color: #d90429;
	border: 1px solid #d90429;
}
.button-detail{
	background-color: #eeba0b;
	color: var(--palet-d);
	border: 1px solid #eeba0b;
}
.button-detail:hover{
	background-color: #cca000;
	border: 1px solid #cca000;
}

.button-primary{
	background-color: #293241;
	border: 1px solid #293241;
	color: var(--palet-d);
}

.button-primary:hover{
	background-color: var(--palet-b);
	border: 1px solid var(--palet-b);
}